extends layout

block content
  h1= title
  if allCases && allCases.length
    ul
      each case in allCases
        li
          a(href='/cases/' + case._id)= `${case.brand} ${case.model}`
  else
    p No Cases found
