extends layout

block content
  h2 Delete case

  hr
  p Are you sure you want to delete this case?
  form(method='POST', action=caseItem.url + '/delete')
    input(type='hidden', name='caseItemId', value=caseItem._id)
    button.btn.btn-primary(type='submit') Yes
