extends layout

block content
  h2 Delete fan

  hr
  p Are you sure you want to delete this fan?
  form(method='POST', action=fanItem.url + '/delete')
    input(type='hidden', name='fanItemId', value=fanItem._id)
    button(type='submit') Yes
