extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='brand') Brand:
      input#brand.form-control(type='text', placeholder='Brand' name='brand' required value=(undefined === gpuItem ? '' : gpuItem.brand))

    div.form-group
      label(for='model') Model:
      input#model.form-control(type='text', placeholder='Model' name='model' required value=(undefined === gpuItem ? '' : gpuItem.model))

    div.form-group
      label(for='gpuInterface') GPU Interface:
      input#gpuInterface.form-control(type='text', placeholder='GPU Interface' name='gpuInterface' required value=(undefined === gpuItem ? '' : gpuItem.gpuInterface))

    div.form-group
      label(for='series') Series:
      input#series.form-control(type='text', placeholder='Series' name='series' required value=(undefined === gpuItem ? '' : gpuItem.series))

    div.form-group
      label(for='GPU') GPU:
      input#GPU.form-control(type='text', placeholder='GPU' name='GPU' required value=(undefined === gpuItem ? '' : gpuItem.GPU))

    div.form-group
      label(for='dateFirstAvailable') Date First Available:
      input#dateFirstAvailable.form-control(type='date' placeholder='YYYY-MM-DD' name='dateFirstAvailable' value=(undefined === gpuItem ? '' : gpuItem.dateFirstAvailable ? gpuItem.dateFirstAvailable.toISOString().substr(0, 10) : ''))

    button.btn.btn-primary(type='submit') Submit

  if errors && errors.length > 0
    ul.text-danger
      each error in errors
        li= error.msg
