doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="#") Inventory App
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNav")
          ul(class="navbar-nav")
            li(class="nav-item")
              a(href='/inventory-app' class="nav-link active" aria-current="page") All items
            li(class="nav-item")
              a(href='/inventory-app/cases' class="nav-link") Cases
            li(class="nav-item")
              a(href='/inventory-app/cpus' class="nav-link") Processors
            li(class="nav-item")
              a(href='/inventory-app/fans' class="nav-link") Fans
            li(class="nav-item")
              a(href='/inventory-app/gpus' class="nav-link") Graphic cards
            li(class="nav-item")
              a(href='/inventory-app/memories' class="nav-link") Memory
            li(class="nav-item")
              a(href='/inventory-app/motherboards' class="nav-link") Motherboard
            li(class="nav-item")
              a(href='/inventory-app/psus' class="nav-link") Power supplies
              li(class="nav-item")
              a(href='/inventory-app/psus' class="nav-link") Power supplies
