extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='brand') Brand:
      input#brand.form-control(type='text', placeholder='Brand' name='brand' required value=(undefined === motherboardItem ? '' : motherboardItem.brand))

    div.form-group
      label(for='model') Model:
      input#model.form-control(model='text', placeholder='Model' name='model' required value=(undefined === motherboardItem ? '' : motherboardItem.model))

    div.form-group
      label(for='CPUSocketType') CPUSocketType:
      input#CPUSocketType.form-control(type='text', placeholder='CPUSocketType' name='CPUSocketType' required value=(undefined === motherboardItem ? '' : motherboardItem.CPUSocketType))

    div.form-group
      label(for='CPUType') CPUType:
      input#CPUType.form-control(type='text', placeholder='CPUType' name='CPUType' required value=(undefined === motherboardItem ? '' : motherboardItem.CPUType))

    div.form-group
      label(for='chipset') Chipset:
      input#chipset.form-control(type='text', placeholder='Chipset' name='chipset' required value=(undefined === motherboardItem ? '' : motherboardItem.chipset))
    
    div.form-group
      label(for='dateFirstAvailable') Date First Available:
      input#dateFirstAvailable.form-control(type='date' placeholder='YYYY-MM-DD' name='dateFirstAvailable' value=(undefined === motherboardItem ? '' : motherboardItem.dateFirstAvailable ? memoryItem.dateFirstAvailable.toISOString().substr(0, 10) : ''))

    button.btn.btn-primary(type='submit') Submit

  if errors && errors.length > 0
    ul.text-danger
      each error in errors
        li= error.msg
